body {
   background-color: aqua;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: medium;
   align-items: center;
   justify-content: center;

}

h1 {
    color: blue;
    background-color: yellow;
    border: 1px solid black;
  }

